.App {
    text-align: center;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

.App-logo {
    height: 10vmin;
    pointer-events: none;
    margin-left: 10px;
}

.App-header {
    background-color: #f7a815;
    display: flex;
    flex-shrink: 0;
    width: 100%;
    align-items: center;
    justify-content: space-between;
}

.logo-container {
    display: flex;
    align-items: center;
}

.logo-container h3 {
    cursor: pointer;
    user-select: none;
}

.menu-container {
    display: flex;
    align-items: center;
    margin-right: 20px;
    gap: 20px;
}

.menu-container a {
    text-decoration: none;
    color: black;
    font-size: 14px;
    font-weight: 500;
    cursor: pointer;
    user-select: none;
}

.menu-container p {
    text-decoration: none;
    color: black;
    font-size: 14px;
    font-weight: 500;
}
